APP_PORT = 8086
# DB driver = sqlite3, postgres, mysql
DB_DRIVER = postgres
DB_HOST = 
DB_PORT = 
DB_USER     = 
DB_PASSWORD = 
DB_DBNAME   = 
# DB name tenant is prefix name, so it will be convented to db_prefix_name_(uid)
DB_DBNAME_TENANT   = 

REDIS_PORT = 
REDIS_HOSTNAME = 
REDIS_PASSWORD = 
REDIS_DATABASE = 

EMAIL_HOST =smtp.mailtrap.io
EMAIL_USERNAME =7c7069fcff6b8c
EMAIL_PASSWORD =d643aa4d37f78a
EMAIL_PORT =2525

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=7c7069fcff6b8c
MAIL_PASSWORD=

RSA_PUBLIC_KEY = 
RSA_PRIVATE_KEY = 